# Ignore Visual Studio Code settings folder
.vscode

# Ignore Python virtual environment folders
venv/
env/

# Ignore pychache
__pycache__/

# Ignore Databases
*.db

# Ignore Data folder
data/

# Ignore .streamlit folder holding secrets
.streamlit/