# Ignore Visual Studio Code settings folder
.vscode

# Ignore Python virtual environment folders
venv/
env/

# Ignore pychache
__pycache__/

# Ignore Data folder
data/

# Ignore .streamlit folder holding secrets
.streamlit/

# Uncleaned station metadata
station_metadata.csv